name: Build

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint + Static Analysis
    steps:
    - uses: actions/checkout@v5

    - name: "Set up Python"
      uses: actions/setup-python@v6
      with:
        python-version-file: ".python-version"

    - name: Install UV
      uses: astral-sh/setup-uv@v6
      with:
        enable-cache: true

    - name: Install Deps
      run: make .venv
      env:
        ARCH: cpu

    - name: mypy cache
      uses: actions/cache@v4
      with:
        path: .mypy_cache
        key: ${{ runner.os }}-mypy-${{ hashFiles('pyproject.toml') }}
        restore-keys: ${{ runner.os }}-mypy-

    - name: Lint
      run: make lint-ci

  test:
    runs-on: ubuntu-latest
    name: E2E and Unit Tests
    steps:
    - uses: actions/checkout@v5

    - name: "Set up Python"
      uses: actions/setup-python@v6
      with:
        python-version-file: ".python-version"

    - name: Install UV
      uses: astral-sh/setup-uv@v6
      with:
        enable-cache: true

    - name: Install Deps
      run: make .venv
      env:
        ARCH: cpu

    - name: Run Tests
      run: make test
      env:
        LANGSMITH_TRACING: false
        GEMINI_API_KEY: SOME_FAKE_KEY # todo: ${{ secrets.GEMINI_API_KEY }}